body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #F3F3F3;
    color: #000000;
    font-weight: 400;
    font-size: 16px;
}

.topo {
    background-color: #2D0064;
    padding: 40px;
}

.titulo-1 {
    color: #ffffff;
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
}

.itens-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.item {
    font-size: 20px;
    font-weight: 700;
}

.item a {
    color: #ffffff;
    text-decoration: none;
}

.conteudo {
    display: flex;
    padding: 40px;
}

.principal {
    background-color: #ffffff;
    padding: 40px;
    margin-right: 40px;
}

.titulo-2 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
}

.lateral {
    background-color: #ffffff;
    padding: 40px;
    width: 254px;
}

.titulo-3 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
}

.titulo-4 {
    font-weight: 700;
}

.resumo-texto {
    font-size: 14px;
}

.rodape {
    background-color: #4D03A8;
    padding: 40px;
}

.creditos {
    font-size: 12px;
    color: #ffffff;
}